<a href="https://colab.research.google.com/github/Janita1605/Janita1605/blob/main/Assignment_1_Python_Baiscs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Explain the key features of Python that make it a popular choice for programming

In [ ]:
print("Hello, world!")

Hello, world!

Q2: Describe the role of predefined keywords in Python and provide examples of how they are used in a program

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
age = 18
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [ ]:
is_raining = False
is_sunny = True

if is_sunny and not is_raining:
    print("It's a sunny day!")

It's a sunny day!

In [ ]:
fruits = ["apple", "banana", "cherry"]
if "banana" in fruits:
    print("Banana is in the list!")

Banana is in the list!

Q3:  Compare and contrast mutable and immutable objects in Python with examples

Mutable Example

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)             # Adds an item
print(my_set)

{1, 2, 3, 4}

Immutable Example

In [ ]:
my_string = "Hello"
my_string += " World"  # Creates a new string
print(my_string)

Hello World

Q4: Discuss the different types of operators in Python and provide examples of how they are used

1. Arithmetic Operators

In [ ]:
a = 10
b = 3
print(a + b)

13

In [ ]:
print(a * b)

30

In [ ]:
print(a - b)

7

In [ ]:
print(a % b)

1

2. Comparison Operators

In [ ]:
x = 5
y = 3
print(x > y)

True

In [ ]:
print(x == y)

False

In [ ]:
print(y <= 2)

False

3. Logical Operators

In [ ]:
a = True
b = False
print(a and b)

False

In [ ]:
print(a or b)

True

In [ ]:
print(not a)

False

4. Assignment Operators

In [ ]:
x = 10
x += 5
print(x)

15

In [ ]:
x *= 2
print(x)

30

5. Bitwise Operato

In [ ]:
a = 5
b = 3
print(a & b)

1

In [ ]:
bin(5)

'0b101'

In [ ]:
bin(3)

'0b11'

In [ ]:
bin(1)

'0b1'

In [ ]:
print(a << 1)

10

In [ ]:
bin(10)

'0b1010'

6. Identity Operators

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)

True

In [ ]:
print(a is c)

False

In [ ]:
print(a == c)

True

7. Membership Operators

In [ ]:
my_list = [1, 2, 3, 4]
print(3 in my_list)

True

In [ ]:
print(5 not in my_list)

True

Q5:  Explain the concept of type casting in Python with examples

1. Converting String to Integer

In [ ]:
age_str = "25"
age_int = int(age_str)
print(age_int)

25

2. Converting Integer to Float

In [ ]:
price = 49.99
price_int = int(price)
print(price_int)

49

3. Converting Float to Integer

In [ ]:
price = 49.99
price_int = int(price)
print(price_int)

49

4. Converting Integer to String

In [ ]:
year = 2023
year_str = str(year)
print("The year is " + year_str)

The year is 2023

5. Converting String to List

In [ ]:
word = "hello"
word_list = list(word)
print(word_list)

['h', 'e', 'l', 'l', 'o']

6. Converting List to Tuple

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits_tuple = tuple(fruits)
print(fruits_tuple)

('apple', 'banana', 'cherry')

7. Converting List to Set

In [ ]:
numbers = [1, 2, 2, 3, 4, 4]
numbers_set = set(numbers)
print(numbers_set)

{1, 2, 3, 4}

Q6:  How do conditional statements work in Python? Illustrate with examples

1. Simple if Statement

In [ ]:
age = 18
if age >= 18:
    print("You can vote.")

You can vote.

2. if-else Statement

In [ ]:
age = 16
if age >= 18:
    print("You can vote.")
else:
    print("You cannot vote.")

You cannot vote.

3. if-elif-else Statement

In [ ]:
score = 75
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: C

4. Nested if Statements

In [ ]:
age = 20
has_id = True

if age >= 18:
    if has_id:
        print("You can enter.")
    else:
        print("ID is required.")
else:
    print("You are not old enough.")

You can enter.

5. Conditional Expressions (Ternary Operator)

In [ ]:
age = 17
status = "adult" if age >= 18 else "minor"
print(status)

minor

Q7: Describe the different types of loops in Python and their use cases with examples

1. for Loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

2. while Loop

In [ ]:
count = 0
while count < 3:
    print("Hello")
    count += 1

Hello
Hello
Hello

3. Nested Loops

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

4. Loop Control Statements

In [ ]:
for num in range(5):
    if num == 3:
        break
    elif num == 1:
        continue
    print(num)

0
2