<a href="https://colab.research.google.com/github/Janita1605/Janita1605/blob/main/Assignment_2_Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Discuss string slicing and provide examples

In [4]:
text = "Hello, World!"

In [2]:
text[0:5]

'Hello'

In [6]:
text[7:]

'World!'

In [7]:
text[:]

'Hello, World!'

In [8]:
text[::2]

'Hlo ol!'

In [9]:
text[::-1]

'!dlroW ,olleH'

Q2: Explain the key features of lists in Python

1. Ordered

In [10]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

2. Changeable

In [27]:
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

3. Allows Duplicates

In [12]:
numbers = [1, 2, 2, 3]
print(numbers)

[1, 2, 2, 3]

4. Can Hold Different Types

In [13]:
mixed = [1, "hello", 3.5]
print(mixed)

[1, 'hello', 3.5]

5. Grows and Shrinks

In [23]:
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

6. List Methods

In [24]:
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry']

7. Loop Through Items

In [25]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

8. Nested Lists

In [26]:
matrix = [[1, 2], [3, 4]]
print(matrix[1][0])

3

Q3: Describe how to access, modify, and delete elements in a list with examples

1. Accessing Elements in a List

In [28]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[-1])

apple
cherry

In [29]:
print(fruits[1:3])

['banana', 'cherry']

2. Modifying Elements in a List

In [30]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

In [31]:
fruits[1:3] = ["blackberry", "date"]
print(fruits)

['apple', 'blackberry', 'date']

In [32]:
fruits.append("elderberry")
fruits.insert(1, "fig")
print(fruits)

['apple', 'fig', 'blackberry', 'date', 'elderberry']

3. Deleting Elements in a List

In [33]:
fruits = ["apple", "banana", "cherry"]
del fruits[1]
print(fruits)

['apple', 'cherry']

In [34]:
fruits = ["apple", "banana", "cherry"]
removed_fruit = fruits.pop(1)
print(fruits)
print(removed_fruit)

['apple', 'cherry']
banana

In [35]:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [36]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

Q4: Compare and contrast tuples and lists with examples

Lists

In [37]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

Tuples

In [38]:
fruits = ("apple", "banana", "cherry")
# fruits[1] = "blueberry"
print(fruits)

('apple', 'banana', 'cherry')

Q5: Describe the key features of sets and provide examples of their use

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [40]:
print(set1 & set2)

{3}

In [41]:
print(set1 - set2)

{1, 2}

In [42]:
print(set1 ^ set2)

{1, 2, 4, 5}

Q6: Discuss the use cases of tuples and sets in Python programming

Tuples

In [43]:
coordinates = (10, 20)
print(coordinates)

(10, 20)

In [44]:
def get_name_and_age():
    return ("Alice", 25)
name, age = get_name_and_age()
print(name, age)

Alice 25

Sets

In [45]:
numbers = [1, 2, 2, 3, 3, 4]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4}

In [46]:
fruits = {"apple", "banana", "cherry"}
print("banana" in fruits)

True

Q7: Describe how to add, modify, and delete items in a dictionary with examples

1. Add Items to a Dictionary:

In [50]:
person = {"name": "John", "age": 30}
person["city"] = "New York"
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

2. Modify Items in a Dictionary:

In [51]:
person["age"] = 31
print(person)

{'name': 'John', 'age': 31, 'city': 'New York'}

3. Delete Items from a Dictionary:

In [52]:
del person["city"]
print(person)

{'name': 'John', 'age': 31}

In [53]:
removed_item = person.pop("age")
print(person)
print(removed_item)

{'name': 'John'}
31

Q8: Discuss the importance of dictionary keys being immutable and provide examples.

In [54]:
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])

Alice

In [55]:
coordinates = {(1, 2): "Point A", (3, 4): "Point B"}
print(coordinates[(1, 2)])

Point A

In [56]:
price_dict = {5.99: "item1", 2.49: "item2"}
print(price_dict[5.99])

item1

In [57]:
age_dict = {25: "John", 30: "Jane", 35: "Doe"}
print(age_dict[30])

Jane