<a href="https://colab.research.google.com/github/Janita1605/Janita1605/blob/main/Assignment_3_Data_Structure_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Write a code to reverse a string

In [6]:
def reverse_string(s):
  return s[::-1]

input_string = "Python"
reversed_string = reverse_string(input_string)
print(reversed_string)

nohtyP

Q2: Write a code to count the number of vowels in a string

In [9]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1

    return count
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)

print("Original String:", input_string)
print("Number of Vowels:", vowel_count)

Original String: Hello, World!
Number of Vowels: 3

Q3:  Write a code to check if a given string is a palindrome or not

In [15]:
def is_palindrome(s):

    s = s.replace(" ", "").lower()

    return s == s[::-1]

input_string = "A man a plan a canal Panama"
if is_palindrome(input_string):
    print(f"'{input_string}' is a palindrome.")
else:
    print(f"'{input_string}' is not a palindrome.")

'A man a plan a canal Panama' is a palindrome.

Q4: Write a code to check if two given strings are anagrams of each other

In [19]:
def are_anagrams(str1, str2):

    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'Listen' and 'Silent' are anagrams.

Q5:  Write a code to find all occurrences of a given substring within another string

In [21]:
def find_all_occurrences(string, substring):
    positions = []
    start = 0

    while start < len(string):
        start = string.find(substring, start)
        if start == -1:
            break
        positions.append(start)
        start += 1

    return positions

input_string = "This is a test. Test it."
substring = "test"
print(find_all_occurrences(input_string, substring))

[10]

Q6:  Write a code to perform basic string compression using the counts of repeated characters

In [22]:
def compress_string(s):
    compressed = ""
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed += s[i - 1] + str(count)
            count = 1

    compressed += s[-1] + str(count)

    return compressed if len(compressed) < len(s) else s


input_string = "aaabbbcccdde"
print("Compressed String:", compress_string(input_string))

Compressed String: a3b3c3d2e1

Q7:  Write a code to determine if a string has all unique characters

In [23]:
def has_unique_characters(s):
    return len(s) == len(set(s))

input_string = "abcdef"
print(has_unique_characters(input_string))

input_string2 = "aabbcc"
print(has_unique_characters(input_string2))

True
False

Q8: Write a code to convert a given string to uppercase or lowercase

In [24]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

input_string = "Hello, World!"

print("Uppercase:", convert_case(input_string, True))

print("Lowercase:", convert_case(input_string, False))

Uppercase: HELLO, WORLD!
Lowercase: hello, world!

Q9:  Write a code to count the number of words in a string

In [25]:
def count_words(s):

    words = s.split()
    return len(words)

input_string = "This is a test string"
print("Number of words:", count_words(input_string))

Number of words: 5

Q10: Write a code to concatenate two strings without using the + operator

In [26]:
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

string1 = "Hello, "
string2 = "World!"
result = concatenate_strings(string1, string2)
print(result)

Hello, World!

Q11:  Write a code to remove all occurrences of a specific element from a list

In [1]:
def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

input_list = [1, 2, 3, 4, 3, 5, 3, 6]
element_to_remove = 3
result = remove_all_occurrences(input_list, element_to_remove)
print("List after removal:", result)

List after removal: [1, 2, 4, 5, 6]

Q12: Implement a code to find the second largest number in a given list of integers

In [2]:
def second_largest(nums):
    unique_nums = list(set(nums))
    unique_nums.sort()
    return unique_nums[-2] if len(unique_nums) >= 2 else None

numbers = [10, 20, 4, 45, 99]
print("The second largest number is:", second_largest(numbers))

The second largest number is: 45

Q13:  Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [3]:
def count_occurrences(lst):
    counts = {}

    for item in lst:
        counts[item] = counts.get(item, 0) + 1

    return counts

input_list = [1, 2, 2, 3, 4, 4, 4, 5]
result = count_occurrences(input_list)
print("Element counts:", result)

Element counts: {1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

Q14: Write a code to reverse a list in-place without using any built-in reverse functions

In [4]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        lst[left], lst[right] = lst[right], lst[left]

        left += 1
        right -= 1

input_list = [1, 2, 3, 4, 5]
reverse_list(input_list)
print("Reversed list:", input_list)

Reversed list: [5, 4, 3, 2, 1]

Q15: Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [5]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)

    return result

input_list = [1, 2, 3, 2, 4, 1, 5, 3]
unique_list = remove_duplicates(input_list)
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5]

Q16: Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [6]:
def is_sorted(lst):
    if lst == sorted(lst):
        return "Ascending order"
    elif lst == sorted(lst, reverse=True):
        return "Descending order"
    else:
        return "Not sorted"

list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
list3 = [3, 1, 4, 2]

print("List1:", is_sorted(list1))
print("List2:", is_sorted(list2))
print("List3:", is_sorted(list3))

List1: Ascending order
List2: Descending order
List3: Not sorted

Q17:  Write a code to merge two sorted lists into a single sorted list

In [7]:
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

sorted_list1 = [1, 3, 5, 7]
sorted_list2 = [2, 4, 6, 8]
merged_sorted_list = merge_sorted_lists(sorted_list1, sorted_list2)
print("Merged sorted list:", merged_sorted_list)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

Q18: Implement a code to find the intersection of two given lists

In [8]:
def list_intersection(list1, list2):
    return [item for item in list1 if item in list2]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = list_intersection(list1, list2)
print("Intersection of the two lists:", intersection)

Intersection of the two lists: [4, 5]

Q19:  Create a code to find the union of two lists without duplicates

In [9]:
def union_lists(list1, list2):
    return list(set(list1) | set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union_result = union_lists(list1, list2)
print("Union of the two lists without duplicates:", union_result)

Union of the two lists without duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

Q20:  Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [12]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

input_list = [1, 2, 3, 4, 5]
shuffle_list(input_list)
print("Shuffled list:", input_list)

Shuffled list: [5, 1, 3, 4, 2]

Q21: Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [13]:
def common_elements(tuple1, tuple2):
    return tuple(item for item in tuple1 if item in tuple2)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print("Common elements:", result)

Common elements: (4, 5)

Q22: Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [4]:
def get_intersection():
    set1 = set(input("Enter the first set (comma separated): ").split(','))
    set2 = set(input("Enter the second set (comma separated): ").split(','))
    print("Intersection:", set1 & set2)

get_intersection()

Enter the first set (comma separated): 10,20,30,40,50
Enter the second set (comma separated): 40,50,60,70
Intersection: {'50', '40'}

Q23: Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [5]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

Q24: Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second se

In [6]:
set1 = set(input("Enter the first set (comma separated): ").split(','))
set2 = set(input("Enter the second set (comma separated): ").split(','))
print("Elements in the first set but not in the second:", set1 - set2)

Enter the first set (comma separated): apple,banana,orange
Enter the second set (comma separated): banana,apple,grape
Elements in the first set but not in the second: {'orange'}

Q25:  Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [7]:
def slice_tuple(tup, start, end):
    return tup[start:end]

tup = (10, 20, 30, 40, 50, 60)
start = int(input("Start index: "))
end = int(input("End index: "))
print("Sliced tuple:", slice_tuple(tup, start, end))

Start index: 1
End index: 4
Sliced tuple: (20, 30, 40)

Q26: Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [9]:
def union_of_sets():
    set1 = set(input("Enter the first set of characters (comma separated): ").split(','))
    set2 = set(input("Enter the second set of characters (comma separated): ").split(','))
    union = set1 | set2
    print("Union of the two sets:", union)

union_of_sets()

Enter the first set of characters (comma separated): c,d,e
Enter the second set of characters (comma separated): a,b,c
Union of the two sets: {'c', 'b', 'd', 'a', 'e'}

27:  Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [10]:
def find_max_min(numbers):
    return max(numbers), min(numbers)

numbers = tuple(map(int, input("Enter numbers separated by commas: ").split(',')))
max_value, min_value = find_max_min(numbers)
print("Maximum:", max_value)
print("Minimum:", min_value)

Enter numbers separated by commas: 8,3,5,2,9
Maximum: 9
Minimum: 2

Q28: Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print("Union:", union)
print("Intersection:", intersection)
print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

Q29:  Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [12]:
def count_occurrences(input_tuple, element):
    return input_tuple.count(element)

input_tuple = tuple(map(int, input("Enter a tuple of integers (comma separated): ").split(',')))
element = int(input("Enter the element to count: "))
count = count_occurrences(input_tuple, element)
print(f"The element {element} occurs {count} times in the tuple.")

Enter a tuple of integers (comma separated): 1,2,3,2,4,2,5
Enter the element to count: 2
The element 2 occurs 3 times in the tuple.

In [ ]:
Q30: Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [13]:
set1 = set(input("Enter the first set of strings (comma separated): ").split(','))
set2 = set(input("Enter the second set of strings (comma separated): ").split(','))

print("Symmetric Difference:", set1 ^ set2)

Enter the first set of strings (comma separated): apple,banana,orange
Enter the second set of strings (comma separated): banana,grape,orange
Symmetric Difference: {'grape', 'apple'}

Q31: Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [14]:
words = input("Enter a list of words (comma separated): ").split(',')

word_count = {word.strip(): words.count(word.strip()) for word in set(words)}

print("Word Frequencies:", word_count)

Enter a list of words (comma separated): apple,banana,apple,orange,banana,apple
Word Frequencies: {'banana': 2, 'orange': 1, 'apple': 3}

Q32:  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [15]:
dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))

for key, value in dict2.items():
    dict1[key] = dict1.get(key, 0) + value

print("Merged Dictionary:", dict1)

Enter the first dictionary: {'a': 1, 'b': 2}
Enter the second dictionary: {'b': 3, 'c': 4}
Merged Dictionary: {'a': 1, 'b': 5, 'c': 4}

Q33: Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [16]:
def access_nested_dict_value(nested_dict, keys):
    for key in keys:
        nested_dict = nested_dict.get(key)
        if nested_dict is None:
            return None
    return nested_dict

nested_dict = eval(input("Enter the nested dictionary: "))
keys = input("Enter the list of keys (comma separated): ").split(',')

result = access_nested_dict_value(nested_dict, keys)
print("Result:", result)

Enter the nested dictionary: {'a': {'b': {'c': 5}}}
Enter the list of keys (comma separated): (comma separated): a,b,c
Result: None

Q34:  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [17]:
def sort_dict_by_value(input_dict, ascending=True):
    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))

input_dict = eval(input("Enter the dictionary: "))
order = input("Enter 'asc' for ascending or 'desc' for descending order: ")

sorted_dict = sort_dict_by_value(input_dict, ascending=(order == 'asc'))
print("Sorted Dictionary:", sorted_dict)

Enter the dictionary: {'a': 3, 'b': 1, 'c': 2}
Enter 'asc' for ascending or 'desc' for descending order: asc
Sorted Dictionary: {'b': 1, 'c': 2, 'a': 3}

In [18]:
def sort_dict_by_value(input_dict, ascending=True):
    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))

input_dict = eval(input("Enter the dictionary: "))
order = input("Enter 'asc' for ascending or 'desc' for descending order: ")

sorted_dict = sort_dict_by_value(input_dict, ascending=(order == 'asc'))
print("Sorted Dictionary:", sorted_dict)

Enter the dictionary: {'a': 3, 'b': 1, 'c': 2}
Enter 'asc' for ascending or 'desc' for descending order: desc
Sorted Dictionary: {'a': 3, 'c': 2, 'b': 1}

Q35: Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [19]:
def invert_dict(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():

        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

input_dict = eval(input("Enter the dictionary: "))

print("Inverted Dictionary:", invert_dict(input_dict))

Enter the dictionary: {'x': 10, 'y': 20, 'z': 10}
Inverted Dictionary: {10: ['x', 'z'], 20: ['y']}